
h1{
    text-align: center; 
    color: red;
}
.big {
    size: 100px;
}
li.big {
    size: 75px;
}
section > article { /*direct child*/
    color: blue;
}
ul li { /*decentent*/
    color: pink;
    list-style: none;
}
ul li:nth-child(2){
    size: 125%;
}
li:nth-child(even){
    color: grey;
}
a:link, a:visited {
    text-decoration: none;
    color: blue;
    border: 1px black;
    display: block;
    width: 600px;
    text-align: center;
}
a:hover, a:active{
    color: greenyellow;
    cursor: pointer;
}